* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #FFF;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

i,
em {
    font-style: normal;
}